CODE[class*='language-'] {
	WORD-WRAP: normal; FONT-FAMILY: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; WHITE-SPACE: pre; WORD-SPACING: normal; WORD-BREAK: normal; COLOR: black; DIRECTION: ltr; TEXT-ALIGN: left; Z-INDEX: 1000; LINE-HEIGHT: 1.5; text-shadow: 0 1px white; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none
}
PRE[class*='language-'] {
	WORD-WRAP: normal; FONT-FAMILY: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; WHITE-SPACE: pre; WORD-SPACING: normal; WORD-BREAK: normal; COLOR: black; DIRECTION: ltr; TEXT-ALIGN: left; Z-INDEX: 1000; LINE-HEIGHT: 1.5; text-shadow: 0 1px white; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none
}
PRE[class*='language-']:unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}
PRE[class*='language-'] :unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}
CODE[class*='language-']:unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}
CODE[class*='language-'] :unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}
PRE[class*='language-']:unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}
PRE[class*='language-'] :unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}
CODE[class*='language-']:unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}
CODE[class*='language-'] :unknown {
	BACKGROUND: #b3d4fc; text-shadow: none
}

@media Print    
{
CODE[class*='language-'] {
	text-shadow: none
}
PRE[class*='language-'] {
	text-shadow: none
}
    }
PRE[class*='language-'] {
	OVERFLOW: auto; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; PADDING-LEFT: 0.5em; MARGIN: 0.5em 0px; PADDING-RIGHT: 0.5em
}
UNKNOWN {
	BACKGROUND: #f5f2f0
}
UNKNOWN {
	WHITE-SPACE: normal; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.1em; PADDING-LEFT: 0.1em; PADDING-RIGHT: 0.1em; border-radius: .3em
}
.comment.token {
	COLOR: slategray
}
.prolog.token {
	COLOR: slategray
}
.doctype.token {
	COLOR: slategray
}
.cdata.token {
	COLOR: slategray
}
.punctuation.token {
	COLOR: #999
}
.namespace {
	opacity: .7
}
.property.token {
	COLOR: #905
}
.tag.token {
	COLOR: #905
}
.boolean.token {
	COLOR: #905
}
.number.token {
	COLOR: #905
}
.constant.token {
	COLOR: #905
}
.symbol.token {
	COLOR: #905
}
.deleted.token {
	COLOR: #905
}
.selector.token {
	COLOR: #690
}
.attr-name.token {
	COLOR: #690
}
.string.token {
	COLOR: #690
}
.char.token {
	COLOR: #690
}
.builtin.token {
	COLOR: #690
}
.inserted.token {
	COLOR: #690
}
.operator.token {
	COLOR: #a67f59
}
.entity.token {
	COLOR: #a67f59
}
.url.token {
	COLOR: #a67f59
}
.language-css .string.token {
	COLOR: #a67f59
}
.style .string.token {
	COLOR: #a67f59
}
.atrule.token {
	COLOR: #07a
}
.attr-value.token {
	COLOR: #07a
}
.keyword.token {
	COLOR: #07a
}
.function.token {
	COLOR: #dd4a68
}
.regex.token {
	COLOR: #e90
}
.important.token {
	COLOR: #e90
}
.variable.token {
	COLOR: #e90
}
.important.token {
	FONT-WEIGHT: bold
}
.bold.token {
	FONT-WEIGHT: bold
}
.italic.token {
	FONT-STYLE: italic
}
.entity.token {
	CURSOR: help
}
PRE[data-line] {
	POSITION: relative; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; PADDING-LEFT: 3em; PADDING-RIGHT: 0px
}
.line-highlight {
	WHITE-SPACE: pre; RIGHT: 0px; POSITION: absolute; LEFT: 0px; MARGIN-TOP: 1em; pointer-events: none
}
.line-highlight:before {
	VERTICAL-ALIGN: 0.3em; MIN-WIDTH: 1em; POSITION: absolute; COLOR: ; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; FONT: bold 65%/1.5 sans-serif; CONTENT: attr(data-start); PADDING-LEFT: 0.5em; LEFT: 0.6em; TOP: 0.4em; PADDING-RIGHT: 0.5em; box-shadow: 0 1px white; border-radius: 999px; text-shadow: none
}
[data-end].line-highlight:after {
	VERTICAL-ALIGN: 0.3em; MIN-WIDTH: 1em; POSITION: absolute; COLOR: ; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; FONT: bold 65%/1.5 sans-serif; CONTENT: attr(data-start); PADDING-LEFT: 0.5em; LEFT: 0.6em; TOP: 0.4em; PADDING-RIGHT: 0.5em; box-shadow: 0 1px white; border-radius: 999px; text-shadow: none
}
[data-end].line-highlight:after {
	CONTENT: attr(data-end); TOP: auto; BOTTOM: 0.4em
}
PRE.line-numbers {
	POSITION: relative; PADDING-LEFT: 3.8em; COUNTER-RESET: linenumber
}
PRE.line-numbers > CODE {
	POSITION: relative
}
.line-numbers .line-numbers-rows {
	FONT-SIZE: 100%; BORDER-RIGHT: #999 1px solid; WIDTH: 3em; POSITION: absolute; LEFT: -3.8em; LETTER-SPACING: -1px; TOP: 0px; user-select: none; -moz-user-select: none; -webkit-user-select: none; pointer-events: none; -ms-user-select: none
}
.line-numbers-rows > SPAN {
	COUNTER-INCREMENT: linenumber; DISPLAY: block; pointer-events: none
}
.line-numbers-rows > SPAN:before {
	COLOR: #999; TEXT-ALIGN: right; CONTENT: counter(linenumber); DISPLAY: block; PADDING-RIGHT: 0.8em
}
.token A {
	COLOR: 
}
PRE[class*='language-'] {
	POSITION: relative
}
PRE[class*='language-'] > CODE[data-language] {
	OVERFLOW: scroll; DISPLAY: block
}
PRE[class*='language-'] > CODE[data-language]:before {
	FONT-SIZE: 0.9em; RIGHT: 0px; POSITION: absolute; COLOR: black; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; CONTENT: attr(data-language); PADDING-LEFT: 0.5em; DISPLAY: inline-block; TOP: 0px; PADDING-RIGHT: 0.5em; BACKGROUND-COLOR: #cfcfcf; border-radius: 0 0 0 5px; text-shadow: none
}
